$backgroud-color: #141b1c;
$backgroud-color-section: #334247;
$text-color: #ffffff;
$theme-color-green: #5bb189;
$theme-color-blue: #3a6ba5;
$theme-color-orange: #ec632a;
$odd-list-items-background-color: #2a3438;
$backgroud-color-for-popular-badge: #dc3f45;
